/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    width: 100%;
    background-color: #C3DCBE;
    padding-top: 20px;
    padding-bottom: 48px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-text {
    width: 550px;
}
.banner-header {
    width: 550px;
    font-size: 80px;
    font-weight: bold;
    color: #06761F;
    margin-bottom: 16px;
}
.banner-paragraph {
    color: #FFFFFF;
    line-height: normal;
    margin-bottom: 16px;
    font-size: 32px;
}
.banner-link {
    font-size: 18px;
    background-color: #06761F;
    text-decoration: none;
    color:#222;
    padding: 9px 14px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 80px;
}
.banner-img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
}
.main-footer {
    display: flex;
    align-items: center;
}
.img-list {
    width: 520px;
    margin-right: auto;
    display: flex;
    list-style: none;
    margin-top: -80px;
    padding-left: 0px;
}
.img-list-item img{
    width: 120px;
    height: 240px;
    border-radius: 80px;

}
.img-list-item:not(:last-child) {
    margin-right: 80px;
}
.chef-section {
}
.chef-section-header::before {
    content: "";
    width: 50px;
    height: 5px;
    background-color: #06761F;
    display: block;
    margin-bottom: 15px;
}
.chef-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.chef-item {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.chef-item:not(:last-child) {
    margin-right: 40px;
}